<!DOCTYPE html>
<html>
<head>
<title>Add Stock</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

<h1>Add New Stock</h1>

<form method="POST">

<input type="text" name="symbol" placeholder="Stock Symbol (AAPL)" required>

<input type="number" step="0.01" name="price" placeholder="Base Price" required>

<button type="submit">Add Stock</button>

</form>

<br>

<a href="/manage_stocks"><button>Back</button></a>

</div>

</body>
</html>