<!DOCTYPE html>
<html>
<head>
<title>Wallet</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<h1>Your Wallet</h1>

<h2>Current Balance: ${{ wallet }}</h2>

<form method="POST">

<input type="number" name="amount" placeholder="Enter amount to deposit" required>

<button type="submit">Deposit Funds</button>

</form>

<br>

<a href="/dashboard_trader">
<button>Back to Dashboard</button>
</a>

</div>

</body>
</html>